html
  head
    meta(charset='UTF-8')
    title Document
    link(rel="icon" href="favicon.png")
    link(href="https://fonts.googleapis.com/css?family=Montserrat+Alternates|Open+Sans:300,600" rel="stylesheet")
    block scripts
  body
    .container-fluid
      .row
        .jumbotron.main-hero
          .container
            h1.hero-title
              a(href="/") SVG, world!
            p.hero-subtitle Annotations about the SVG world
    block content
