extends pages/templates/default

block content
  .container-fluid
    .row
      .jumbotron
        .container
          h1 SVG, world!
          p Annotations about the SVG world

  .container
    h2 Table of contents
    ul
      li
        a(href="viewport-viewbox-aspect-ratio.html") Viewport, viewbox and preserveAspectRatio
      li
        a(href="path.html") Paths

        ul
          li
            a(href="path-commands-table.html") Path commands table
          li
            a(href="arcs-example.html") Arcs example
