extends pages/templates/default

block content
  .container
    h2 Table of contents
    ul.main-menu
      li
        a(href="basic-shapes.html") Basic shapes
      li
        a(href="viewport-viewbox-aspect-ratio.html") viewport, viewBox and preserveAspectRatio
      li
        a(href="path.html") Paths

        ul
          li
            a(href="path-commands-table.html") Path commands table
          li
            a(href="arcs-example.html") Arcs example
