body {
  background: #eee;
}

.ui {
  display: flex;
}

.ui > div {
  margin: 0 10px;
}

.ui .controls input {
  vertical-align: middle;
}

#dotHandler1, #dotHandler2 {
  cursor: pointer;
}

svg {
  background: #ddd;
}
