@import '_reset'
@import '_arcs'

:global
  body
    h1,
    h2,
    h3,
    h4,
    h5
      font-family: 'Montserrat Alternates', sans-serif

  .svg-container
    display: inline-block
    margin-bottom: 15px

    &:before
      content: 'svg container'
      display: block
      text-align: right
      font-size: 10px
      color: #ccc

    svg
      border: 1px dashed #ccc
      display: flex
      align-items: center

  .table > tbody > tr > td.shape-cell
    padding: 0

    .property-name
      padding: 8px 0
      background: #dfdbe5
      color: purple
      text-align: center
      vertical-align: middle

  .properties-list
    list-style: none
    padding: 0

    li
      margin-bottom: 15px

  .small-svg
    border: 1px dashed #ccc
    margin: 0 20px
    display: inline-block
    vertical-align: middle
    height: 100px
    background: transparent

  .main-hero
    background-color: #DFDBE5;
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23cfc4e1' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    .hero-title a,
    .hero-subtitle
      color purple

    .hero-title a
      font-weight bold
      transition color .2s

      &:hover
        text-decoration: none
        color lighten(purple, 10%)

  .main-menu
    padding: 0
    margin-top: 25px

    li
      list-style: none

    > li > ul
      padding-left: 15px

      > li
        a
          border-left: 2px solid Plum;

    > li a
      display: block
      color purple
      margin-bottom: 4px
      border-left: 2px solid purple;
      padding-left: 10px;

      &:hover
        text-decoration: none
        color lighten(purple, 10%)

  .example-case
    margin: 0
    padding: 20px 0
    border-bottom: 5px solid #ccc

  .example-case img
    border: 1px solid #ccc
    margin: 20px 0 20px
    display: block

  .paths-table
    tr td:first-child
      font-weight: bold
      font-size: 18px
      min-width: 230px

    .arguments
      display: block
      font-size: 14px
      font-weight: normal
      color: #666
