extends templates/default

block content
  .container
    h1 Basic shapes
    p.lead All basic shapes can have fill color, stroke and common svg style attributes that paths have
    .panel.panel-default
      .panel-heading List of basic shapes and most used properties
      table.table.table-bordered.paths-table
        thead
          tr
            th Shape
            th Attributes
        tr
          td.shape-cell
            p.property-name &lt;rect&gt;
            svg.small-svg
              rect(width="50", height="50")
          td
            ul.properties-list
              li
                strong x&nbsp;
                | The x position of the top left corner of the rectangle
              li
                strong y&nbsp;
                | The y position of the top left corner of the rectangle
              li
                strong width&nbsp;
                | The width of the rectangle
              li
                strong height&nbsp;
                | The height of the rectangle
              li
                strong rx&nbsp;
                | The x radius of the corners of the rectangle
              li
                strong ry&nbsp;
                | The y radius of the corners of the rectangle
        tr
          td.shape-cell
            p.property-name &lt;circle&gt;
            svg.small-svg
              circle(r="25" cx="25" cy="50")
          td
            ul.properties-list
              li
                strong cx&nbsp;
                | The x position of the center of the circle
              li
                strong cy&nbsp;
                | The y position of the center of the circle
              li
                strong r&nbsp;
                | The radius of the circle

        tr
          td.shape-cell
            p.property-name &lt;ellipse&gt;
            svg.small-svg
              ellipse(rx="20" ry="35" cx="30" cy="50")
          td
            ul.properties-list
              li
                strong cx&nbsp;
                | The x position of the center of the ellipse
              li
                strong cy&nbsp;
                | The y position of the center of the ellipse
              li
                strong rx&nbsp;
                | The x radius of the ellipse
              li
                strong ry&nbsp;
                | The y radius of the ellipse

        tr
          td.shape-cell
            p.property-name &lt;line&gt;
            svg.small-svg
              line(x1="0" x2="100" y1="50" y2="70" stroke-width="3" stroke="black")
          td
            ul.properties-list
              li
                strong x1&nbsp;
                | The x position of point 1
              li
                strong y1&nbsp;
                | The y position of point 1
              li
                strong x2&nbsp;
                | The x position of point 2
              li
                strong y2&nbsp;
                | The y position of point 2

        tr
          td.shape-cell
            p.property-name &lt;polyline&gt;
            svg.small-svg
              polyline(fill="none"
              stroke="blue"
              stroke-width="3"
              points="0,0 80,50 80,80 100,80 100,50 180,0")
          td
            ul.properties-list
              li
                strong points&nbsp;
                | A list of points, each number separated by a space, comma, EOL, or a line feed character. Each point must contain two numbers, an x coordinate and a y coordinate. So the list (0,0), (1,1) and (2,2) could be written: "0 0, 1 1, 2 2"

        tr
          td.shape-cell
            p.property-name &lt;polygon&gt;
            svg.small-svg
              polygon(fill="red" stroke="blue" stroke-width="3" points="50,75  79,61 69,61 97,15 23,01 50,50")
          td
            ul.properties-list
              li
                strong points&nbsp;
                | A list of points, each number separated by a space, comma, EOL, or a line feed character. Each point must contain two numbers, an x coordinate and a y coordinate. So the list (0,0), (1,1) and (2,2) could be written: "0 0, 1 1, 2 2". The drawing then closes the path, so a final straight line would be drawn from (2,2) to (0,0)

        tr
          td.shape-cell
            p.property-name &lt;path&gt;
            svg.small-svg
              path(d="M 20 30 Q 40 5, 50 30" stroke="tomato" stroke-width="2")
          td
            ul.properties-list
              li
                strong d&nbsp;
                | A list of points and other information about how to draw the path. See the Paths section for more information
