extends templates/default

block content
  .container
    h2.title defs
    p SVG allows graphical objects to be defined for later reuse. It is recommended that, wherever possible, referenced elements be defined inside of a &lt;defs&gt; element. Defining these elements inside of a &lt;defs&gt; element promotes understandability of the SVG content and thus promotes accessibility. Graphical elements defined in a &lt;defs&gt; element will not be directly rendered. You can use a &lt;use&gt; element to render those elements wherever you want on the viewport.
